.auth-container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:90vh;
    background:#f5f5f5;
}

.auth-form{
    width:350px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,.15);
}

.auth-form h2{
    text-align:center;
    margin-bottom:20px;
}

.auth-form input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:5px;
}

.auth-form button{
    width:100%;
    padding:12px;
    border:none;
    background:#0d6efd;
    color:white;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

.auth-form button:hover{
    background:#0b5ed7;
}

.role-select{
    width:100%;
    padding:14px 16px;
    margin:15px 0;
    font-size:16px;
    border:1px solid #dcdcdc;
    border-radius:8px;
    outline:none;
    background:#fff;
    cursor:pointer;
    transition:0.3s ease;
    box-sizing:border-box;
}

.role-select:hover{
    border-color:#0d6efd;
}

.role-select:focus{
    border-color:#0d6efd;
    box-shadow:0 0 8px rgba(13,110,253,0.25);
}